html,
body {
  width: 100%;
  height: 100%;
  z-index: 1;
}
div.side-bar {
  z-index: 3;
  width: 100px;
  position: fixed;
  left: 0px;
  height: 100%;
  border: 1px solid black;
}
div.side-bar button.btn {
  padding: 0px;
  border: 1px solid black;
  color: black;
  background-color: white;
  width: 75px;
  height: 75px;
  margin: 10px;
  position: relative;
  font-size: 50px;
  font-family: sans-serif;
}
div.gutter {
  z-index: 3;
  width: 300px;
  position: fixed;
  left: 100px;
  height: 100%;
  border: 1px solid black;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-style: solid;
  border-left-style: none;
}
div.gutter div.gutter-menu {
  position: fixed;
  z-index: 3;
  top: 0px;
  width: 300px;
  height: 75px;
  border: 1px solid black;
  border-bottom-style: solid;
  border-right-style: none;
  border-top-style: none;
  border-left-style: none;
}
div.gutter div.gutter-menu div.btn-group {
  position: relative;
  margin: 5px;
  width: 286px;
  height: 58px;
}
div.gutter div.gutter-menu div.btn-group button.btn.dropdown-toggle {
  border: none;
  padding: 0px;
  margin: 5px;
  background-color: white;
  position: absolute;
  top: 0px;
  width: 286px;
  height: 58px;
}
div.gutter div.gutter-display {
  overflow: scroll;
  z-index: 2;
  width: 299px;
  height: 100%;
  position: relative;
  padding-top: 75px;
  padding-bottom: 50px;
}
div.gutter div.gutter-buttom {
  z-index: 3;
  position: fixed;
  bottom: 0px;
  width: 300px;
  height: 50px;
  border: 1px solid black;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}
div.main-window {
  z-index: 2;
  position: absolute;
  padding-left: 400px;
  width: 100%;
  right: 0px;
  height: 100%;
  border: 1px solid black;
  border-bottom-style: solid;
  border-right-style: solid;
  border-top-style: solid;
  border-left-style: none;
}
div.main-window div.tabs-row {
  position: fixed;
  z-index: 3;
  top: 0px;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  border-bottom-style: solid;
  border-right-style: none;
  border-top-style: none;
  border-left-style: none;
}
div.main-window div.viewer {
  z-index: 2;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  position: relative;
  border-bottom-style: none;
  border-right-style: none;
  border-top-style: none;
  border-left-style: none;
}
div.main-window div.console {
  z-index: 3;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100px;
  border: 1px solid black;
  border-bottom-style: none;
  border-right-style: none;
  border-top-style: solid;
  border-left-style: none;
}
